<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Maid Management</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <nav class="mt-20">
      <a class="btn" href="/maids">Dashboard</a>
      <a class="btn" href="/maids/new">Add Maid</a>
    </nav>
    <hr>
